.camera {
    background-color: rgb(138, 198, 203);
    width: 50vw;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playground {

    display: flex;
    justify-content: center;
    width: 100vw;
    height: 88vh;
}