.content {
    background-color: #01091C;
    display: flex;
    justify-content: center;
    /* padding: 0 5vw; */
    align-items: center;
    width: 100vw;
    height: 10%;
    /* max-height: 120px; */
}
.img {

    width: 8vw;
    max-width: 80px;
}
/* vai delimitar para q a logo e o menu lateral fiquem mais ou menos na msm largura q
a parte da camera com a lista de dispositivos */
.delimit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    max-width: 1280px;
}